
**/*.pyc
/.DS_Store
/Lecture_1_Notebook
/Lecture_2_Notebook
/Lecture_3_Notebook
/Lecture_4_Notebook
/Lecture_5_Notebook
/Lecture_6_Notebook
/Lecture_7_Notebook
/Lecture_8_Notebook
/Lecture_9_Notebook
/Lecture_10_Notebook
/Lecture_11_Notebook
/Lecture_12_Notebook
/Lecture_13_Notebook
/Advanced_Topics
/Example_Project_PPT
/Homeworks
/Project_list.pdf
